<html>
    <head>
        <title>RSS Reader</title>
    </head>
    <body>
        <div id='header'>
            <h3>Mock RSS Reader</h3>
            <p>Welcome, user</p>
            <p>Add a new feed: </p>
            <input type='text'>
            <button>Search</button>
        </div>
        <div id='feed'>
            {% for feed in feeds %}
            <div id='post'>
                <h2 id='title'><a href=''>{{ feed.title }}</a></h2>
                <p id='date'>{{ feed.date }}</p>
                {% if feed.image %}
                <img id='image' src='{{ feed.image }}'>
                {% endif %}
                <p id='desc'>{{ feed.description }}</p>
            </div>
            {% endfor %}
        </div>
    </body>
</html>