    {% extends 'rss/base.html' %}
    
    {% block content %}
    <body>
        <div class='header'>
            <h3>Mock RSS Reader</h3>
            <p>Welcome, user</p>
            <p>Add a new feed: </p>
            <input type='text' class='form-control' name='url'>
            <button class="btn btn-default" type="submit">Search</button>
            <a class="btn btn-default" href="{% url 'login' %}">Logout</a>
        </div>
        <div class='content container'>
            <div class='row'>
                <div class='col-md-8'>
                    {% for feed in feeds %}
                    <div class='post'>
                        <h2 id='title'><a href=''>{{ feed.title }}</a></h2>
                        <p id='date'>{{ feed.date }}</p>
                        {% if feed.image %}
                        <img id='image' src='{{ feed.image }}'>
                        {% endif %}
                        <p id='desc'>{{ feed.description }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
    {% endblock %}