{% extends 'rss/base.html' %}
{% block content %}
    <body>
        <h3>Sign Up</h3>
        <div id='login'>
            <form method="POST" class="post-form" >{% csrf_token %}
                {{ form.as_p }}
            </form>
            <p>Type in any RSS feeds you're interested in here:</p>
            <input type="text">
            <a class="btn btn-default" href="{% url 'feed' %}">Create your account</a>
        </div>
        <div id='register'>
            <p>or <a href="{% url 'login' %}">Sign In</a></p>
        </div>
    </body>
{% endblock %}