<html>
    <head>
        <title>RSS Reader</title>
    </head>
    <body>
        <h3>Sign Up</h3>
        <div id='login'>
            <p>Username:</p>
            <input type="text">
            <p>Password:</p>
            <input type="text">
            <p>Type in any RSS feeds you're interested in here:</p>
            <input type="text">
            <button>Submit</button>
        </div>
        <div id='register'>
            <p>or <a href='/login.html'>Sign In</a></p>
        </div>
    </body>
</html>